# Configuration Template
# Copy this file to .env and fill in your values

PORT=5000
DATABASE_PATH=./db/database.sqlite

# Telegram Configuration
BOT_TOKEN=8772760363:AAEJzb-RqoMeQHkaEjoaSP61-Wqv5vPeby0
ADMIN_ID=1066867845
WEBAPP_URL=https://khaan-dyt.bothost.tech

# Security
ADMIN_PASSWORD=chalama2026
